.nav-sidebar > .active > a, .nav-sidebar > .active > a:hover, .nav-sidebar > .active > a:focus {
    color: #FFF;
    background-color: #428bca;
}

#myTeam, #inTeam, #outTeam {
    text-align: center;
    font-size: 0.9em;
}

.displayNone {
    display: none !important;
}